@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: dubai;
  src: url("@/assets/fonts/dubai/DubaiW23-Regular.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: dubai;
}

ol {
  list-style: decimal;
}
ul {
  list-style: circle;
}

.bgMainColor {
  background-color: #228be6;
}

.textMainColor {
  color: #228be6;
}

.borderMainColor {
  border: 2px solid #228be6;
}

.bgSecondaryColor {
  background-color: #228be633;
}

button {
  outline: none;
  border: none;
  background-color: #228be6;
  color: white;
  padding: 10px 25px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.1rem;
}

.customRounded {
  border-radius: 30px;
}

.btnSmallFont {
  font-size: 1rem;
}

button:hover {
  background-color: #165994;
}

.shadowBtn {
  color: #228be6;
  background-color: #228be63a;
}

.shadowBtn:hover {
  color: white;
  background-color: #228be6;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1300px;
}

.tooltip {
  visibility: hidden;
  transition: visibility 0.2s ease-in-out;
}

.navItem:hover .tooltip {
  visibility: visible;
}



.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}